
/* Remove padding bros */
.row > * {
    padding: 0;
    height: 250px;
}

.graph {
    padding: 10px 10px 0;
    margin: auto 0;
    height: 100%;
}

h3 {
    text-align: center;
    min-height: 20%;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}

.object {
    height: 80%;
    margin: auto auto;
}

table {
    margin: auto auto !important;
}