
/* Remove padding bros */
.row > * {
    padding: 0;
    height: 250px;
}

.graph {
    padding: 10px 10px 0;
    margin: auto 0;
    height: 100%;
}

h3 {
    text-align: center;
    min-height: 20%;
}

img,.ct-chart {
    display: block;
    margin: auto auto;
    padding: 10px;
    height: 100%;
}

.object {
    height: 80%;
    margin: auto auto;
}

.ct-series.ct-series-a {
    stroke: black;
}

table {
    margin: auto auto !important;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#gpuFan {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

input {
    padding: 10px;
}

#status {
    padding: 10px;
    background-color: red;
}